{{#section 'head'}}
    <link rel="stylesheet" href="../../../styles/dashboard-products-view_style.css" type="text/css"/>
    <title>{{product.name}}</title>
{{/section}}

<div class="sideButtons_container col-3">
    <ul>
        <a href="/dashboard/products">
            <li class="side_button col-12">Back to Products</li>
        </a>
    </ul>
</div>
<div class="rightSection_container col-9">
    <div class="productInfo_container col-9">
        <img class="col-5" src="../images/battery.jpg"/>
        <ul class="col-7">
            <li><h3>{{product.name}}</h3></li>
            <li><p>Price: ${{product.price}}</p></li>
            <li><p>Shipping Cost: ${{product.shipping.cost}}</p></li>
            <li><p>Shipping Time: {{product.shipping.time}}</p></li>
            <li><p>Build Time: {{product.buildTime}}</p></li>
        </ul>
        <div class="productDesc_container col-12">
            <p class="description">{{product.description}}</p>
        </div>
        <div class="category_container col-12">
            <h3>Category: {{product.category}}</h3>
        </div>
        <div class="keywords_container col-12">
            <p>Keywords: {{product.keywords}}</p>
        </div>
        <div class="keywords_container col-12">
            <h3>Options</h3>
            <h4>Colors:</h4>
            {{#each product.options.colors}}
                <p>{{this}}</p>
            {{/each}}
            <h4>Sizes:</h4>
            {{#each product.options.sizes}}
                <p>{{this}}</p>
            {{/each}}
            <h4>Others:</h4>
            {{#each product.options.others}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
    <div class="rightAside_container col-3">
        <a href="/dashboard/products/edit/{{product._id}}">
            <button type="button" class="red col-12">Edit</button>
        </a>
        <a href="/product/{{product._id}}">
            <button type="button" class="red col-12">View</button>
        </a>
        <form action="/dashboard-products-view/{{product._id}}" method="post">
            <button type="submit" class="red col-12">Delete</button>
        </form>
    </div>
</div>