{{#section 'head'}}
    <link rel="stylesheet" href="styles/index_style.css" type="text/css"/>
    <script src="../scripts/index_controller.js"></script>
    <title>Addifex Marketplace</title>
{{/section}}

<div class="banner_container col-12">
    <div class="account_container col-3">
        <div class="account_section col-12">
            {{#if user}}
                <h4>Cart</h4>
                <p>Cart Contains: {{cart.items}} Items</p>
                <div class="button_container col-12">
                    <a href="/cart">
                        <button class="green col-12">My Cart</button>
                    </a>
                </div>
                <h4>Account</h4>
                <a href="notifications">You have <span>0</span> notifications</a>
                <div class="button_container col-12">
                    <a href="/account">
                        <button class="blue col-12">My Account</button>
                    </a>
                </div>
            {{else}}
                {{> signIn}}
                <!--<h4>Sign In!</h4>
                <div class="button_container col-12">
                    <a href="/signin">
                        <button class="green col-12">Sign In</button>
                    </a>
                </div>
                <h4>No Account?</h4>
                <div class="button_container col-12">
                    <a href="/signup">
                        <button class="blue col-12">Create Account</button>
                    </a>
                </div>-->
            {{/if}}
        </div>
    </div>
    <div class="news_section m-top-margin col-9">
        <center>
            <h2>Welcome to the Addifex Marketplace</h2>
            <p>Our mission at Addifex is to empower anyone to become an entrepreneur. We designed the marketplace for people who have never
            tried to sell a product and provide them with a platform, a community, and access to resources. By shopping on Addifex, you are
            supporting entrepreneurs who are just getting their foot in t</p>
        </center>
    </div>
</div>
<div class="feed_container col-12">
    <div class="tabs_container col-12" id="tabContainer">
        <button class="red col-2" id="featuredButton" disabled>Featured</button>
        <button class="green col-2" id="popularButton">Popular</button>
        <button class="blue col-2" id="newestButton">Newest</button>
    </div>
    {{#each product}}
        <a href="product/{{this._id}}">
            <div class="product_container col-3" id="productCell">
                <img src="../images/battery.jpg" class="product col-12">
                <div class="productInfo_container col-12">
                    <ul>
                        <li>{{this.name}}</li>
                        <li>${{this.price}}</li>
                    </ul>
                </div>
            </div>
        </a>
    {{/each}}
    <div class="button_container col-12">
        <button id="moreButton" class="red col-12">Show More</button>
    </div>
</div>
