{{#section 'head'}}
    <link rel="stylesheet" href="../styles/product_style.css" type="text/css"/>
    <script src="../scripts/product_controller.js"></script>
    <!--<title>{{product.name}}</title>-->
{{/section}}

<div class="productInfo_container col-9">
    <img class="product_image col-7" src="../images/battery.jpg"/>
    <div class="product_info col-5">
        <ul class="product_info">
            <li class="info" id="name"><strong>{{product.name}}</strong></li>
            <li class="info" id="creator">Creator: <a href="shop.html" class="creator_link">leCreator</a></li>
            <div class="pricing_group">
                <li class="info" id="price">Price: <strong>${{product.price}}</strong></li>
                <li class="info" id="shipping">Shipping: <strong>$8.01</strong></li>
            </div>
        </ul>
        <!--Blurbs will go in at a later date-->
        <!--<ul class="product_blurb">
            <li class="blurb">Information 1</li>
            <li class="blurb">Information 2</li>
            <li class="blurb">Information 3</li>
            <li class="blurb">Information 4</li>
        </ul>-->
    </div>
    <div class="product_desc col-12">
        <!--Description is maximum 2000 characters long-->
        <p class="description">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met
        </p>
    </div>
    <!--The reviews section will go in at a later date-->
    <!--<div class="reviews_title col-12">
        <h2>Reviews</h2>
    </div>
    <div class="reviews_container col-12">
        <div class="review">
            <p class="review_info">Maxwell S. <span class="posted_text">Posted: January 1, 2017</span></p>
            <p class="review_conent">
                Lorem ipsum dolor sit amet, eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met
            </p>
        </div>
        <div class="review">
            <p class="review_info">Jordan H. <span class="posted_text">Posted: January 1, 2017</span></p>
            <p class="review_conent">
                nean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met
            </p>
        </div>
        <div class="review">
            <p class="review_info">Steve R. <span class="posted_text">Posted: January 1, 2017</span></p>
            <p class="review_conent">
                Lorem ipsum dolor sit amet, tum semper nisi. Aenean vulputate eleifend tellus. Aenean a ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met
            </p>
        </div>
    </div>-->
</div>
<div class="right_aside col-3">
    <div class="rightButton_container col-12">
        <button id="likeButton" class="red col-12">Like</button>
    </div>
    <div class="rightButton_container col-12">
        <form action="/product/{{product._id}}" method="post">
            <input type="hidden" value="{{product._id}}" name="productId"/>
            <button id="buyButton" class="green col-12" type="submit">Add to Cart</button>
        </form>
    </div>
    <div class="rightButton_container col-12">
        <select class="product_select col-12">
            <option>Colors</option>
            <option>Red</option>
            <option>Green</option>
            <option>Blue</option>
        </select>
    </div>
    <div class="rightButton_container col-12">
        <select class="product_select col-12">
            <option>Sizes</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
        </select>
    </div>
    <div class="rightButton_container col-12">
        <select class="product_select col-12">
            <option>Other Options</option>
        </select>
    </div>
    <!--Reviews will go in at a later date-->
    <!--<div class="ratings_container col-12">
        <p><a class="ratings_link">16 Reviews</a></p>
    </div>-->
    <div class="shop_container col-12">
        <p class="more_from">More from leCreator</p>
        <img class="creator_image" src="../images/battery.jpg"/>
        <a href="shop.html">
            <button class="blue col-12">Visit Shop</button>
        </a>
    </div>
</div>