{{#section 'head'}}
    <link rel="stylesheet" href="../styles/product_style.css" type="text/css"/>
    <script src="../scripts/product_controller.js"></script>
    <title>{{product.name}}</title>
{{/section}}

<div class="productInfo_container col-9">
    {{#each images}}
        <img class="product_image col-7" src="data:image/png;base64,{{this}}"/>
    {{/each}}
    <div class="product_info col-5">
        <ul class="product_info">
            <li class="info" id="name"><strong>{{product.name}}</strong></li>
            <li class="info" id="creator">Creator: <a href="../shop/{{creator.shopName}}" class="creator_link">{{creator.shopName}}</a></li>
            <div class="pricing_group">
                <li class="info" id="price">Price: <strong>${{product.price}}</strong></li>
                <hr>
                <li class="info" id="shipping">Shipping Cost: <strong>${{product.shipping.cost}}</strong></li>
                <li class="info" id="shipping">Shipping Time: <strong>{{product.shipping.time}}</strong></li>
            </div>
            <hr>
            <li class="info" id="shipping">Build Time: <strong>{{product.buildTime}}</strong></li>
        </ul>
        <!--Blurbs will go in at a later date-->
        <!--<ul class="product_blurb">
            <li class="blurb">Information 1</li>
            <li class="blurb">Information 2</li>
            <li class="blurb">Information 3</li>
            <li class="blurb">Information 4</li>
        </ul>-->
    </div>
    <div class="product_desc col-12">
        <!--Description is maximum 2000 characters long-->
        <p class="description">{{product.description}}</p>
    </div>
    <!--The reviews section will go in at a later date-->
    <!--<div class="reviews_title col-12">
        <h2>Reviews</h2>
    </div>
    <div class="reviews_container col-12">
        <div class="review">
            <p class="review_info">Maxwell S. <span class="posted_text">Posted: January 1, 2017</span></p>
            <p class="review_conent">
                Lorem ipsum dolor sit amet, eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met
            </p>
        </div>
        <div class="review">
            <p class="review_info">Jordan H. <span class="posted_text">Posted: January 1, 2017</span></p>
            <p class="review_conent">
                nean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met
            </p>
        </div>
        <div class="review">
            <p class="review_info">Steve R. <span class="posted_text">Posted: January 1, 2017</span></p>
            <p class="review_conent">
                Lorem ipsum dolor sit amet, tum semper nisi. Aenean vulputate eleifend tellus. Aenean a ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, met
            </p>
        </div>
    </div>-->
</div>
<div class="right_aside col-3">
    {{#if favMessage}}
        {{{flashMessage favMessage "red"}}}
    {{/if}}
    <div class="rightButton_container col-12">
        <a href="/product/{{product._id}}/favorite">
            <button id="likeButton" class="red col-12" type="button">Favorite</button>
        </a>
    </div>
    <form action="/product/{{product._id}}" method="post">
        <div class="rightButton_container col-12">
            <select name="color" class="product_select col-12">
                <option value="">Colors</option>
                {{#each product.options.colors}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="rightButton_container col-12">
            <select name="size" class="product_select col-12">
                <option value="">Sizes</option>
                {{#each product.options.sizes}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="rightButton_container col-12">
            <select name="other" class="product_select col-12">
                <option value="">Other Options</option>
                {{#each product.options.others}}
                    <option>{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="rightButton_container col-12">
            <input type="hidden" value="{{product._id}}" name="productId"/>
            <input type="hidden" value="{{product.name}}" name="name"/>
            <input type="hidden" value="{{product.price}}" name="price"/>
            <input type="hidden" value="{{product.shipping.cost}}" name="shippingCost"/>
            <input type="hidden" value="{{product.shipping.time}}" name="shippingTime"/>
            <input type="hidden" value="{{product.shipping.weight}}" name="weight"/>
            <input type="hidden" value="{{product.info.creatorId}}" name="creatorId"/>
            <button id="buyButton" class="green col-12" type="submit">Add to Cart</button>
        </div>
        {{#if cartMessage}}
            {{{flashMessage cartMessage "green"}}}
        {{/if}}
    </form>
    <!--Reviews will go in at a later date-->
    <!--<div class="ratings_container col-12">
        <p><a class="ratings_link">16 Reviews</a></p>
    </div>-->
    <div class="shop_container col-12">
        <p class="more_from">More from {{creator.shopName}}</p>
        <img class="creator_image" src="../images/battery.jpg"/>
        <a href="../shop/{{creator.shopName}}">
            <button class="blue col-12">Visit Shop</button>
        </a>
    </div>
    <ul class="product_info">
        <li class="info">Category: {{product.category}}</li>
        <li class="info">Keywords: {{product.keywords}}</li>
    </ul>
</div>