{{#section 'head'}}
    <link rel="stylesheet" href="../styles/shop_style.css" type="text/css"/>
    <script src="../scripts/product_controller.js"></script>
    <title>{{creator.shopName}}</title>
{{/section}}

<center><h2>{{creator.shopName}}</h2></center>
<hr>
<div class="top_section col-12">
    <img class="col-3" src="../images/battery.jpg"/>
    <div class="aboutCreator_container col-9">
        <p class="description">{{creator.about}}</p>
    </div>
</div>
<div class="products_container col-12">
    <hr>
    {{#each product}}
        <a href="/product/{{this._id}}">
            <div class="product_container col-3" id="productCell">
                <img src="../images/battery.jpg" class="product col-12">
                <div class="productInfo_container col-12">
                    <ul>
                        <li>{{this.name}}</li>
                        <li>${{this.price}}</li>
                    </ul>
                </div>
            </div>
        </a>
    {{/each}}
</div>