{{#section 'head'}}
    <link rel="stylesheet" href="../styles/account_style.css" type="text/css"/>
    <script src="../scripts/account_controller.js"></script>
    <title>My Acccount</title>
{{/section}}

<div class="account_section col-12" id="infoSection">
    <div class="section_content col-12">
        <ul>
            <li>{{user.name}}</li>
            <li>{{user.email}}</li>
            <br>
            <h4>Shipping Info</h4>
            <li>{{user.shipping.line1}}</li>
            <li>{{user.shipping.line2}}</li>
            <li>{{user.shipping.city}}, {{user.shipping.state}} {{user.shipping.zip}}</li>
            <br>
            <h4>Billing Info</h4>
            <li>{{user.billing.line1}}</li>
            <li>{{user.billing.line2}}</li>
            <li>{{user.billing.city}}, {{user.billing.state}} {{user.billing.zip}}</li>
        </ul>
        <div class="button_container col-12">
            <a href="/account/edit">
                <button class="info_button blue col-12">Edit</button>
            </a>
        </div>
        <div class="button_container col-12">
            <a href="/account/change">
                <button class="info_button blue col-12">Change Password</button>
            </a>
        </div>
    </div>
</div>